<ng-container *ngIf="true">
    <div class="container">
    <div class="card-table">
        <div class="card-product">
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>Sr.No</th>
                        <th>Product Name</th>
                        <th>Product Image</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Quntity</th>
                        <th>Total</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>

<tr>
                       <td>1</td>
                        <td>Iphone</td>
                        <td>Image</td>
                        <td>This is branded phone</td>
                        <td>50000</td>
                        <td>1</td>
                        <td>50000</td>
                       
                        <td>
                            <button class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                        </td>

                    </tr>
                </tbody>


            </table>
        </div>
    </div>
</div>
</ng-container>


<ng-container *ngIf="false">

<div class="container">
    <div class="card">
        <h5 class="card-title">My Cart</h5>
    </div>

    <div class="center">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7LIOCgfjCtH0R9EVg9ZxHy83UGQaY93MvZg&usqp=CAU" alt="">
        <h5>Your cart is empty!</h5>
        <h5>Add item to it now</h5>
        <button class="btn btn-primary mb-5">shop now</button>
    </div>
</div>
</ng-container>
